#post-content #wpcom-liveblog-container {

  .components-datetime__time-field-month-select {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAWklEQVQ4T2NkIBEwkqieYbhoaGBgYKgn0vMNME+DNIA04gMgNU3IoVTHwMDQiEMHSK4ZJIcerNg0wRVj0wASqwVZDbUJxG5BthVXxNVAFaEoxmUDXp8PwqQBAFFICpAl48cOAAAAAElFTkSuQmCC) no-repeat #ffffff;
    background-position: 92% 50%;
    border: 1px solid #7e8993;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 30px 2px 10px;
  }
}